.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    z-index: 20;

    box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.49);

}

.card-body {
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &:hover {
        .image {
            filter: blur(1.4px);
            transform: scale(1.5);
            overflow: hidden;
            transition: all 0.3s linear;
            box-shadow: inset -6px -1px 32px 0px rgba(0, 0, 0, 0.75);
        }

        .card-bottom {
            transform: translate(0%, -50%);
            transition: all 0.8s ease;
            background-color: rgba(110, 122, 92, 0.7);
        }
    }

    box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.49);
}

.card-top {
    z-index: 1;
}

.card-bottom {
    transform: translate(100%, -50%);
}